## Задача. 

1. Загрузите датасет по ценам на жилье Airbnb, доступный на kaggle.com: https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data
2. Подсчитайте среднее значение и дисперсию по признаку ”price”.

### 1 шаг. Подготовка окружения

In [1]:
!pip install opendatasets

Requirement already satisfied: opendatasets in ./anaconda3/lib/python3.10/site-packages (0.1.22)
Requirement already satisfied: tqdm in ./anaconda3/lib/python3.10/site-packages (from opendatasets) (4.64.1)
Requirement already satisfied: click in ./anaconda3/lib/python3.10/site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: kaggle in ./anaconda3/lib/python3.10/site-packages (from opendatasets) (1.5.16)
Requirement already satisfied: bleach in ./anaconda3/lib/python3.10/site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: certifi in ./anaconda3/lib/python3.10/site-packages (from kaggle->opendatasets) (2023.5.7)
Requirement already satisfied: requests in ./anaconda3/lib/python3.10/site-packages (from kaggle->opendatasets) (2.28.1)
Requirement already satisfied: python-dateutil in ./anaconda3/lib/python3.10/site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: six>=1.10 in ./anaconda3/lib/python3.10/site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: urllib3 in ./anaconda3/lib/python3.10/site-packages (from kaggle->opendatasets) (1.26.14)
Requirement already satisfied: python-slugify in ./anaconda3/lib/python3.10/site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: webencodings in ./anaconda3/lib/python3.10/site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: packaging in ./anaconda3/lib/python3.10/site-packages (from bleach->kaggle->opendatasets) (22.0)
Requirement already satisfied: text-unidecode>=1.3 in ./anaconda3/lib/python3.10/site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.10/site-packages (from requests->kaggle->opendatasets) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in ./anaconda3/lib/python3.10/site-packages (from requests->kaggle->opendatasets) (2.0.4)

### 2 шаг. Загрузка библиотек

In [12]:
import opendatasets as od
import pandas as pd
import numpy as np
import time
from pathlib import Path

from functools import reduce
import json

### 3 шаг. Открытие датасета

In [13]:
df = pd.read_csv("AB_NYC_2019.csv")

In [14]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

### 4 шаг. Поиск среднего и дисперсии по признаку "price"

In [15]:
%%time

df["price"].mean()

CPU times: user 883 µs, sys: 301 µs, total: 1.18 ms
Wall time: 1.04 ms

152.7206871868289

In [16]:
%%time

df["price"].std()

CPU times: user 636 µs, sys: 170 µs, total: 806 µs
Wall time: 577 µs

240.15416974718727